@model IEnumerable<WebStore.ViewModels.SteelViewModel>

@{
    ViewData["Title"] = "Слали";
}

<table class="table" border="1" width="600">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>ГОСТ</th>            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.ActionLink(@item.id.ToString(), "SteelDetails", new { id = item.id })</td>
            <td>@Html.ActionLink(@item.Name.ToString(), "SteelDetails", new { id = item.id })</td>
            <td>@item.GOSTName</td>            
        </tr>
}
    </tbody>
</table>
